<div class="social-icons">
    <div class="social">
        <a href="https://www.instagram.com/masnetworkcoro979" target="_blank">
            <img src="assets/instagram.png">
        </a>
    </div>
    <div class="social ws">
        <a (mouseover)="showWhatsappQR = true" (mouseout)="showWhatsappQR = false"  href="https://wa.me/584129799769">
            <img src="assets/whatsapp.png">
        </a>
        <div [hidden]="!showWhatsappQR" id="ws-qr">
            <img class="img-fluid" src="assets/wsqr.png">
        </div>
    </div>
</div>