<div class="d-flex player-container align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-9 d-flex align-items-center">
                <a href="javascript:void(0)" *ngIf="status >= 1" (click)="pause()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-pause-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
                    </svg>
                </a>

                <a href="javascript:void(0)" *ngIf="status == 0" (click)="play()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                    </svg>
                </a>

                <div class="ms-2 currentSong">
                    <div class="title">
                        {{currentSong?.title}}
                    </div>
                    <div class="artist">
                        {{currentSong?.artist}}
                    </div>
                </div>
                
            </div>
            <div class="col-3 text-end">
                <img *ngIf="status == 2" src="assets/fx.gif" height="70">
            </div>
        </div>
    </div>
</div>

<audio id="audio-player" preload="none">
    <source src="https://masnetworkcoro.com/streaming.php">
</audio>