<div class="container">
    <div class="text-center mb-5">
        <img src="assets/logo.png" class="img-fluid">
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-4 offset-lg-3 col-lg-3">
            <div class="programa">
                <img src="assets/scarletperezyluislugo.jpg">
                <div class="titulo">A Primera Hora</div>
                <div class="descripcion">
                    Scarlet Pérez <br>
                    Periodista 9.511 <br>
                    Locutora 33.855 <br>
                    Luís Lugo <br>
                    Periodista 23.458 <br>
                    Locutor 44.152 <br>
                </div>
                <div class="horario">
                    Lunes a Viernes <br>
                    6:00am a 8:00am
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3">
            <div class="programa">
                <img src="assets/dinaypulgar.jpg">
                <div class="titulo">Dinay en Voz</div>
                <div class="descripcion">
                    Dinay Pulgar <br>
                    Locutora 34.152 <br>
                    Lcda. en Mercadeo
                </div>
                <div class="horario">
                    Lunes a Viernes <br>
                    8:00am a 9:00am
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-4 offset-lg-3 col-lg-3">
            <div class="programa">
                <img src="assets/joselara.jpg">
                <div class="titulo">Magazine Informativo</div>
                <div class="descripcion">
                    José Cheo Lara <br>
                    Periodista 8.984 <br>
                    Locutor 28.329
                </div>
                <div class="horario">
                    Lunes a Viernes <br>
                    11:00am a 12:00pm
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3">
            <div class="programa">
                <img src="assets/elviagonzalez.jpg">
                <div class="titulo">Efecto Duna</div>
                <div class="descripcion">
                    Elvia González <br>
                    Periodista 13.124 <br>
                    Locutora 38.817
                </div>
                <div class="horario">
                    Lunes a Viernes <br>
                    12:00pm a 1:00pm
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-4 offset-lg-3 col-lg-3">
            <div class="programa">
                <img src="assets/mirtablanco.jpg">
                <div class="titulo">Konceptos</div>
                <div class="descripcion">
                    Mirtha Blanco <br>
                    Periodista 12.414 <br>
                    Locutora 35.669
                </div>
                <div class="horario">
                    Lunes a Viernes <br>
                    1:00pm a 3:00pm
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3">
            <div class="programa">
                <img src="assets/zailyacacio.jpg">
                <div class="titulo">Por si Acacio con Zaily</div>
                <div class="descripcion">
                    Zaily Acacio <br>
                    Periodista 11.456 <br>
                    Locutora 34.246
                </div>
                <div class="horario">
                    Lunes a Viernes <br>
                    3:00pm a 5:00pm
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-4 offset-lg-3 col-lg-3">
            <div class="programa">
                <img src="assets/anaurasequera.jpg">
                <div class="titulo">Siempre Anaura</div>
                <div class="descripcion">
                    Anaura Sequera <br>
                    Periodista 8.985 <br>
                    Locutora 14.244 <br>
                </div>
                <div class="horario">
                    Lunes a Viernes <br>
                    5:00pm a 6:00pm
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3">
            <div class="programa">
                <img src="assets/anacaldera.jpg">
                <div class="titulo">En Contacto con Ana</div>
                <div class="descripcion">
                    Ana Caldera <br>
                    Periodista 20.393 <br>
                    Locutora 34.249
                </div>
                <div class="horario">
                    Lunes a Viernes <br>
                    6:00pm a 7:00pm
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-4 offset-lg-3 col-lg-3">
            <div class="programa">
                <img src="assets/alfredokhalek.jpg">
                <div class="titulo">Estética en el Alma</div>
                <div class="descripcion">
                    Dr. Alfredo Abdul Khalek<br>
                    Especialista en medicina regenerativa anti envejecimiento y estética<br>
                    Locutor 58.793
                </div>
                <div class="horario">
                    Sábados <br>
                    8:00am a 9:00am
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3">
            <div class="programa">
                <img src="assets/marilysyalexander.jpg">
                <div class="titulo">Aquí Entre Nos</div>
                <div class="descripcion">
                    Marilys Villavicencio <br>
                    Periodista 14.258 <br>
                    Locutora 17.258 <br>
                    Alexander Sánchez <br>
                    Periodista 18.543 <br>
                    Locutor 53.160
                </div>
                <div class="horario">
                    Sábados <br>
                    9:00am a 10:00am
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-4 offset-lg-3 col-lg-3">
            <div class="programa">
                <img src="assets/sureyacroes.jpg">
                <div class="titulo">A Media Mañana con Sureya</div>
                <div class="descripcion">
                    Sureya Croes <br>
                    Periodista 13.634 <br>
                    Locutora 36.202
                </div>
                <div class="horario">
                    Sábados <br>
                    10:00am a 11:00am
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3">
            <div class="programa">
                <img src="assets/maybramchirinos.jpg">
                <div class="titulo">Reporte Network</div>
                <div class="descripcion">
                    Maybram Chirinos <br>
                    Periodista 18.760 <br>
                    Locutora 42.007
                </div>
                <div class="horario">
                    Sábados <br>
                    11:00am a 12:00pm
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-4 offset-lg-3 col-lg-3">
            <div class="programa">
                <img src="assets/alejandrojimenez.jpg">
                <div class="titulo">Mundo Latino</div>
                <div class="descripcion">
                    Alejandro Jiménez <br>
                    Periodista 8.972 <br>
                    Locutor 9.615
                </div>
                <div class="horario">
                    Sábados <br>
                    12:00pm a 1:00pm
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-3">
            
        </div>
    </div>
    

    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <div class="por">
                Desarrollado por <a href="#">RJ Group Venezuela</a> y <a href="https://tecnobytes.net" target="_blank">Tecnobytes</a>
            </div>
        </div>
    </div>
    
    
    <div style="height: 120px;">

    </div>
</div>

<app-audio-player></app-audio-player>
<app-social-icons></app-social-icons>